<header>
    <div class="w3-container w3-content" style="max-width: 100%;max-height: 50%; margin-top: 150px;">
        <div class="w3-cell-row">
            <div class="w3-cell w3-padding-24 w3-display-container">
                <h2><b>Java Start Tourism Dissertation Titles</b></h2>
                <p>Housing Dissertation Titles. We have provided this selection of example housing dissertation titles to help and inspire you....</p>
                
                <a href="/Heaven/Actress" class="w3-button w3-white w3-border w3-border-red w3-round-large" style="margin-left: 100px;">Let Go <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="w3-cell">
                <img src="images/ImageHeader.webp" alt="" class="w3-image w3-badge" width="1000px" height="900px">
            </div>
        </div>
    </div>
</header>